#draggable { width: 150px; height: 150px; padding: 0.5em; background-color: red; }




.panel{
	padding: 20px;
	background-color: teal;
	font-size: 30px;
	color: white;
	text-align: center;
	cursor: pointer;
}
.content{
	padding: 20px;
	text-align: center;
	background-color: #ddd;
	display: none;
}

